.body_banner {
    display: flex;
    margin-bottom: 40px;
}

.body_banner div {
    width: 50%;
    padding: 6px;
}

.body_banner div img {
    width: 100%;
}

.body_nav {
    margin-top: 20px;
    margin-bottom: 30px;
}

.nav_home {
    color: #000;
    text-decoration: none;
}

.nav_home:hover {
    color: blue;
    text-decoration: underline;
}

.body_laptop_title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.body_laptop_type {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.body_laptop_type_item {
    border: 1px solid #adacac;
    cursor: pointer;
    display: flex;
    padding: 10px 28px;
    margin-right: 16px;
    transition: all 0.3s linear;
    align-items: center;
    font-weight: bold;
    border-radius: 5px;
    justify-content: center;
}

.body_laptop_type_item:hover {
    color: white;
    background-color: #0078dc;
}

.body_price_sort {
    margin: 8px;
    width: 150px !important;
    margin-bottom: 16px;
}

.body_price_sort_wrap {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #666;
    margin-top: 10px;
    margin-bottom: 20px;
}

.body_products_item_right_item {
    max-width: 25%;
    flex-basis: 25%;
    padding: 20px 20px 30px;
    background-color: #f8f9fa;
}

.body_laptop_products {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.body_price_sort_wrap_btn {
    margin-bottom: 10px;
    font-weight: bold !important;
}

.dplfl {
    display: flex;
    align-items: center;
}

.body_title_name {
    font-size: 1.75rem;
    padding: 16px 0;
    width: 40%;
}

.body_title_rating_star i {
    color: #ffc120;
}

.body_title_rating_star div {
    padding: 4px 10px;
    border: 1px solid #888;
    margin-left: 8px;
    margin-right: 30px;
}

.body_title_name_rating_question div {
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
}

.body_title_name_rating_question span {
    padding: 0 8px;
}

.body_title {
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(182, 182, 182);
    margin-bottom: 16px;
}

.nav_home {
    padding: 0 6px;
}

.body_wrap {
    display: flex;
}

.body_product_left {
    width: 41%;
    padding: 16px;
}

.body_product_mid {
    width: 41%;
    padding: 16px;
}

.body_product_right {
    width: 18%;
    padding: 16px;
}

.body_product_left_img {
    width: 100%;
    margin-bottom: 60px;
}

.body_product_left_img img {
    width: 100%;
}

.body_product_left_promotion_item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.body_product_left_promotion_item i {
    color: #13bf13;
    margin-right: 4px;
    font-size: 16px;
}

.body_product_left_promotion {
    border: 1px solid #ccc;
    padding: 25px 10px 5px;
    position: relative;
    font-size: 16px;
    border-radius: 4px;
}

.body_product_left_promotion_sticker i {
    color: red;
    font-size: 22px;
    margin-right: 8px;
}

.body_product_left_promotion_sticker {
    background-color: #f1f1f1;
    display: inline-block;
    top: -24px;
    left: 20px;
    border: 1px solid #ccc;
    display: inline-flex;
    padding: 6px 14px;
    position: absolute;
    align-items: center;
    font-weight: bold;
    border-radius: 4px;
}

.body_product_mid_price_container {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    margin-bottom: 35px;
    background-color: #efedee;
}

.body_product_mid_price_now_price {
    color: #ea0000;
    font-size: 24px;
    line-height: 1;
    padding-bottom: 10px;
}

.body_product_mid_price_last_price {
    color: #BDBDBD;
    font-size: 14px;
    font-weight: normal;
    margin-left: 5px;
    text-decoration: line-through;
}

.body_product_mid_price_vat_title {
    font-size: 14px;
    padding-bottom: 10px;
}

.body_product_mid_price_vat_stocking {
    color: #25b925;
    font-size: 18px;
}

.product_mid_detail_product strong {
    padding-right: 4px;
}

.product_mid_detail_product {
    padding-bottom: 14px;
}

.btn-danger-buying {
    width: 100%;
    margin: 14px 0;
}

.body_product_mid_danger_text {
    color: red;
    font-size: 18px;
    text-align: center;
    padding-top: 14px;
}

.product_right_insurance_item {
    display: flex;
    font-size: 13px;
    margin-bottom: 10px;
}

.product_right_insurance_item img {
    color: #1e73ac;
    font-size: 18px;
    margin-top: 2px;
    margin-right: 6px;
    width: 26px;
}

.product_right_insurance_item i {
    color: #1e73ac;
    font-size: 18px;
    margin-top: 2px;
    margin-right: 6px;
    width: 26px;
}

.product_right_insurance_item div {
    font-size: 13px;
}

.product_right_insurance {
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.product_right_address_insurance {
    border: 1px solid #ccc;
    padding: 10px 8px 8px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.filter_screen {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 30%;
}

.filter_screen select {
    width: 35%;
}

.filter_screen strong {
    padding-right: 8px;
}

.form_filter {
    display: flex;
    flex-wrap: wrap;
}

.filter_form_btn {
    width: 50%;
}

.filter_form_btn_button {
    margin-top: 6px;
    margin-bottom: 12px;
    padding: 8px 16px !important;
    font-size: 18px !important;
}